<ion-header mode="md"  class="ion-no-border">
  <ion-item lines="none">
    
    <ion-avatar slot="end">
      <img src="assets/profile.jpg">
    </ion-avatar>
    
    <ion-button fill="clear" color="light">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
    <ion-searchbar class="search-bar-default"  #searchBarScroll placeholder="Nhập tên món ăn" searchIcon="location-outline"></ion-searchbar>
        
  </ion-item>
  <ion-item class="search-bar-animated" #searchBar lines="none">
    <div class="ion-padding-start ion-padding-bottom">
      <ion-label>
        <h2>Tìm kiếm món ăn</h2>
      </ion-label>

      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <ion-searchbar placeholder="Nhập tên món ăn" searchIcon="location-outline"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-button color="light" fill="clear">
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </div>
  </ion-item>
</ion-header>

<ion-content 
  [fullscreen]="true">
    <div class="ion-padding">
    <ion-row  #triggerElement class="ion-align-items-center ion-padding-horizontal">
      <ion-col size="6">
        <h5>8 Gian Hàng đã Đăng ký</h5>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-button fill="clear" color="dark">
          <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

   
    <ion-card>
      
      <ion-card-header>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-badge color="warning" mode="ios">
              <ion-icon name="star"></ion-icon>
              4.5
            </ion-badge>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-card-subtitle color="success">Hơn 25 Món</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="assets/com-tam/pngguru.png"></ion-img>

        <ion-row>
          <ion-col size="8">
            <ion-card-title>Cơm Tấm </ion-card-title>
            <ion-card-subtitle>Cơm Tấm Hoàng Diệu</ion-card-subtitle>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" color="dark" size="large" routerLink="/details">
              <ion-icon slot="icon-only" name="chevron-forward-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
   
      
    <ion-card>
      <ion-card-header>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-badge color="warning" mode="ios">
              <ion-icon name="star"></ion-icon>
              4.5
            </ion-badge>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-card-subtitle color="success">Hơn 25 Món</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
    
      <ion-card-content>
        <ion-img src="assets/com-tam/pngguru.png"></ion-img>

        <ion-row>
          <ion-col size="8">
            <ion-card-title>Cơm Tấm </ion-card-title>
            <ion-card-subtitle>Cơm Tấm Hoàng Diệu</ion-card-subtitle>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" color="dark" size="large" routerLink="/details">
              <ion-icon slot="icon-only" name="chevron-forward-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <div class="container-food">

        
<div class="ion-padding wrapper">

  <ion-searchbar></ion-searchbar>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-baseline">
      <ion-col size="6">
        <h4 class="title">
          Popular Dishes
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4 class="more ion-text-end">
          View more
        </h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="options">

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                </div>
                
                <ion-card-title class="title">Some Awesome Dish Title</ion-card-title>
                <ion-card-subtitle>Some description here</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/793759/pexels-photo-793759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></ion-img>
                </div>
                
                <ion-card-title class="title">Some Awesome Dish Title</ion-card-title>
                <ion-card-subtitle>Some description here</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/1291712/pexels-photo-1291712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></ion-img>
                </div>
                
                <ion-card-title class="title">Some Awesome Dish Title</ion-card-title>
                <ion-card-subtitle>Some description here</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/1624487/pexels-photo-1624487.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                </div>
                
                <ion-card-title class="title">Some Awesome Dish Title</ion-card-title>
                <ion-card-subtitle>Some description here</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                </div>
                
                <ion-card-title class="title">Some Awesome Dish Title</ion-card-title>
                <ion-card-subtitle>Some description here</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>


          

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/361184/asparagus-steak-veal-steak-veal-361184.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                </div>
                
                <ion-card-title class="title">Some Awesome Dish Title</ion-card-title>
                <ion-card-subtitle>Some description here</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="ion-padding-horizontal wrapper">
  
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <h4 class="title">
            Explore Categories
          </h4>
        </ion-col>
        <ion-col size="6">
          <h4 class="more ion-text-end">
            Show more
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    </div>
  
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <ion-slides [options]="categories">
  
            <ion-slide>
              <ion-card class="category" color="danger">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/images/food/dish.svg"></ion-icon>
                  <ion-card-title>Food</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="primary">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/images/food/cocktail.svg"></ion-icon>
                  <ion-card-title>Drink</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="warning">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/images/food/burger.svg"></ion-icon>
                  <ion-card-title>Burger</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="success">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/images/food/pizza.svg"></ion-icon>
                  <ion-card-title>Pizza</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="tertiary">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/images/food/taco.svg"></ion-icon>
                  <ion-card-title>Mexican</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="danger">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/images/food/cookies.svg"></ion-icon>
                  <ion-card-title>Dessert</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="secondary">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/images/food/noodle.svg"></ion-icon>
                  <ion-card-title>Noodle</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            

            
  
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>



    <div class="ion-padding-horizontal wrapper">
    
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-baseline">
          <ion-col size="6">
            <h4 class="title">
              Recommended Drinks
            </h4>
          </ion-col>
          <ion-col size="6">
            <h4 class="more ion-text-end">
              Show more
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      </div>
    
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <ion-slides [options]="options">
    
              <ion-slide>
                <ion-card class="card">
                  <ion-card-content class="ion-text-left">
    
                    <div class="img-wrapper">
                      <ion-img src="https://images.pexels.com/photos/109275/pexels-photo-109275.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                    </div>
                    
                    <ion-card-title class="title">Some Awesome Title</ion-card-title>
                    <ion-card-subtitle>Some description here</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
    
              <ion-slide>
                <ion-card class="card">
                  <ion-card-content class="ion-text-left">
    
                    <div class="img-wrapper">
                      <ion-img src="https://images.pexels.com/photos/616840/pexels-photo-616840.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                    </div>
                    
                    <ion-card-title class="title">Some Awesome Title</ion-card-title>
                    <ion-card-subtitle>Some description here</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
    
              <ion-slide>
                <ion-card class="card">
                  <ion-card-content class="ion-text-left">
    
                    <div class="img-wrapper">
                      <ion-img src="https://images.pexels.com/photos/1437629/pexels-photo-1437629.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                    </div>
                    
                    <ion-card-title class="title">Some Awesome Title</ion-card-title>
                    <ion-card-subtitle>Some description here</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-half"></ion-icon>
                    </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
    
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>

        
    </div>


  </div>
</ion-content>
