// new code
:host {
    --offset-top: 150px;
    background-image: url(https://images.foody.vn/res/g103/1022810/prof/s1242x600/foody-upload-api-foody-mobile-trasuaaaw-200512101101.jpg);;
    background-size: auto 220px;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: -webkit-fill-available;
}
ion-card-content {
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

ion-searchbar {
    height: 44px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: 0.5s;
}
     ion-content {

      --offset-bottom: 0px;
        --background: transparent;
         transition: 0.5s;
         transform: translate3d(0, 150px, 0);
     }

     .transform-top-offset{
      --offset-top: 244px !important;
     }
     .no-transform {
         transform: translate3d(0, 0, 0) !important;
     }
     ion-toolbar {
        transition: 0.5s;
       --background:  linear-gradient(to right, #64b3f4, #c2e59c);;
     }
     .transparent-toolbar {
        --background: transparent;
        --border-width: 0 !important;
    }

     .content-container  {
         height: 100%;
         border-radius: 10px;
         background-color: #fff;
         overflow: scroll;
         padding-bottom: 150px;
     }
     .content-default {
        border-radius: 0px !important;
    }

     ion-tabs {
       box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
     }
    ion-tab-button {
      border-bottom: 1px solid ;
    }
     ion-tab-button[selected='true'] {
         border-bottom: 3px solid !important;
     }
    .ellipsis {
      width:100%;
      margin:0 auto;
      padding:10px;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
    }
    .absolute-header {
      position: absolute !important;
    }


ion-card {
  margin-top: -105px;
  z-index: 10;
  padding: 6px;
  box-shadow: none;
  box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.16);
  border-radius: 40px;
  overflow: visible;
  position: absolute;

  ion-img {
    height: 113px;
    margin: -60px auto auto auto;
    min-width: calc(100vw - 33px);
  }

}

ion-item {
  --background: #f6f6f6;

  border-radius: 14px;
  // box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.08);

  ion-icon:first-of-type {
    background: #ed576b;
    color: #FFFFFF;
    padding: 4px;
    border-radius: 12px;
  }

  ion-icon:last-of-type {
    background: #316dd0;
    color: #FFFFFF;
    padding: 4px;
    border-radius: 12px;
  }

}


.header-category {
  height: 40px;
  border: 1px solid #eae2e8;
  font-family: auto;
  font-size: 18px;
  font-weight: bold;
  color: #404040;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 14px;
  box-shadow: 0px 3px 45px 0px #cebec0;
  border-radius: 1px;
  background: radial-gradient(circle, #ecd7d7 0%, #e5f1ff 100%);
  margin: 4px 0px 4px 0px;
}


.container-node {
  position: relative;
  background: #fff;
  width: 320px;
  // margin: 50px auto;
  // padding-top: 20px;
  z-index: 9999;
  input[type="checkbox"] {
    display: none;
  }

  .status-bar {
    background: #ddd;
    height: 20px;
    width: 100%;
  }
  .skeleton {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: calc(100% - 20px);
    height: 80px;
    margin: 15px auto;
  }
  .skeleton__image {
    background: #eee;
    width: 60px;
    height: 60px;
  }
  .skeleton__text-container {
    width: 75%;
    margin-left: 10px;
  }
  .skeleton__title {
    background: #eee;
    width: 40%;
    height: 15px;
  }
  .skeleton__text {
    background: #eee;
    width: 100%;
    height: 35px;
    margin-top: 10px;
  }
  .btn {
    background: #e74c3c;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
  .btn svg {
    position: relative;
    top: 1px;
    right: 1px;
  }
  .btn--large {
    width: 60px;
    height: 60px;
  }
  .btn--menu:after,.btn--menu:before {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 29px;
    left: 18px;
    transition: transform 100ms;
  }
  .btn--menu:after {
    transform: translateY(-5px);
  }
  .btn--menu:before {
    transform: translateY(5px);
  }
  .btn--share {
    background: #f39c12;
  }
  .btn--star {
    background: #2ecc71;
  }
  .btn--comment {
    background: #16a085;
  }
  .actions-menu {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 30px;
    bottom: 70px;
  }
  .actions-menu .btn {
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: 0;
    transition: top 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    left 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 200ms;
  }
  .actions-menu .btn--menu {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .btn--menu, #actionMenuButton:checked + .actions-menu > .btn {
    opacity: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  }
  #actionMenuButton:checked + .actions-menu > .btn--menu:after {
    transform: rotate(45deg);
  }
  #actionMenuButton:checked + .actions-menu > .btn--menu:before {
    transform: rotate(-45deg);
  }
  #actionMenuButton:checked + .actions-menu > .btn--share {
    top: -70px;
  }
  #actionMenuButton:checked + .actions-menu > .btn--star {
    top: -50px;
    left: -50px;
  }
  #actionMenuButton:checked + .actions-menu > .btn--comment {
    left: -70px;
  }
}

@media only screen and (min-width: 992px){
 ion-card {
   right: -7%;
 }
}