

<ion-header mode="ios" >
  <ion-toolbar [ngClass]="{'transparent-toolbar':!headerFixed}">
    <ion-buttons slot="start">
      <ion-back-button  [color]="!headerFixed? 'light' :'dark'"   icon="chevron-back" defaultHref="/"></ion-back-button>
    </ion-buttons>
     <ion-buttons slot="end">
       <ion-button *ngIf="!headerFixed"  [color]="!headerFixed? 'light' :'dark'"  > <ion-icon slot="icon-only" name="search-outline" ></ion-icon></ion-button>
       <ion-button [color]="!headerFixed? 'light' :'dark'"  > <ion-icon slot="icon-only" name="heart" ></ion-icon></ion-button>
       <ion-button [color]="!headerFixed? 'light' :'dark'" > <ion-icon slot="icon-only" name="ellipsis-horizontal-outline" ></ion-icon></ion-button>

     </ion-buttons>
     <ion-searchbar  *ngIf="headerFixed"  class="search-bar-default"  placeholder="Nhập tên món ăn" searchIcon="location-outline"></ion-searchbar>
     
  </ion-toolbar>
</ion-header>

<ion-content  >
   
  <div [ngClass]="{'content-default': headerFixed }" class="ion-padding content-container">
          <div style="position: absolute; top: 0; width: 100% ;border: 1px solid red; left: 0px;" >
          xxxxx
          </div>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <div #triggerElement>TRIGGER ELEMENT</div>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
       

           
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>

           
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
       
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
    </div>
</ion-content>