<ion-header #header mode="ios">
  <ion-toolbar [ngClass]="{'transparent-toolbar':!headerFixed}">
    <ion-buttons slot="start">
      <ion-back-button [color]="!headerFixed? 'light' :'dark'" icon="chevron-back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="!headerFixed" [color]="!headerFixed? 'light' :'dark'">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button [color]="!headerFixed? 'light' :'dark'">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
      <ion-button [color]="!headerFixed? 'light' :'dark'">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-searchbar *ngIf="headerFixed" class="search-bar-default" placeholder="Nhập tên món ăn"
      searchIcon="location-outline"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content   id="container" [ngClass]="{'transform-top-offset' : !headerFixed }">

  <ion-card class="ion-margin-bottom">
    <ion-img src="assets/smoothie/smoothie_2.png"></ion-img>
    <ion-card-content>
      <ion-row>
        <ion-col size="12" class="ion-text-center ">
          <ion-card-title>Sinh tố Chị Bích</ion-card-title>
          <ion-card-subtitle>Khu 8 Giang ĐH Nông Lâm</ion-card-subtitle>
          <ion-card-subtitle>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star-outline" color="warning"></ion-icon>
            <span> (12.5K)</span>
          </ion-card-subtitle>
        </ion-col>

      </ion-row>
    </ion-card-content>
  </ion-card>
  <div [ngClass]="{'content-default': headerFixed }" class="ion-padding content-container">
    <div  id="eleTop"  style="margin-top: 24px;">
      <div>
        <ion-grid #triggerElement>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <ion-button color="light" fill="clear">
                <ion-icon color="success" slot="icon-only" name="shield-checkmark-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="10">
              <ion-label>
                <h3 style="
                                        font-family: cursive;
                                        font-size: 18px;
                                        font-weight: bold;
                                        color: #3880ff;">MỞ CỬA 14:00 - 22:00</h3>
                <h4 style="
                                      font-size: 11px;
                                      color: #bfbfbf;
                                      ">Khu phố 6 phường linh trung quận Thủ Dức</h4>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div  [ngClass]="{'absolute-header' : headerFixed}"
        style="position: relative; top: 0; width: 100% ; left: 0px; height: 45px; z-index: 999; ">
        <ion-tabs mode="ios">
          <ion-tab-bar slot="bottom">
            <ion-tab-button (click)="selectedTab(item)" *ngFor="let item of objectKeys(tabs)"
              [selected]="tabs[item].active">
              <ion-icon name="{{tabs[item].ico}}"></ion-icon>
              <ion-label>{{tabs[item].name}}</ion-label>
              <ion-badge *ngIf="tabs[item].badge != 0" color="danger">6</ion-badge>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
      </div>

      <ng-container  *ngFor="let item of objectKeys(tabs)" >
        <div style="height: 40px; border: 1px solid red;" id="ele{{item}}" >Sinh tố + {{item}}</div>
        <div style="flex: 1; overflow-x: auto;">
          <ion-item mode="md" (click)="presentModal(p)" button *ngFor="let p of products">
            <ion-thumbnail slot="start">
              <img src="{{ p.img }}">
            </ion-thumbnail>
            <ion-label [color]="p.amount === 0 ? '' : 'primary'">
              <h2>{{ p.name }}</h2>
              <p>
                <ion-icon *ngIf="p.amount !== 0" color="danger" name="close-circle"></ion-icon>
                {{ p.price | currency:'VND' }}
                {{ p.amount === 0 ? '' : ( 'x ' +  p.amount + ' = ' + (p.price*p.amount | currency:'VND')  ) }}
              </p>
            </ion-label>
            <ion-icon name="add-circle-outline" slot="end"></ion-icon>
          </ion-item>
        </div>
      </ng-container>

    </div>
  </div>
</ion-content>
<app-counter-cart></app-counter-cart>
