<div style="display: flex; flex-direction: column;" >
<form onsubmit="processForm(event)">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Tên người Nhận<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Số điện thoại người nhận <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" ></ion-input>
    </ion-item>
    
    <!-- <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-input placeholder="Address Line 1"></ion-input>
      <ion-input placeholder="Address Line 2"></ion-input>
      <ion-input placeholder="City"></ion-input>
      <ion-input placeholder="State"></ion-input>
      <ion-input placeholder="Zip Code"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label position="stacked">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
  </div>
</form>
<div style="flex: 1 ; border: 1px solid yellow;"></div>

</div>