
  ion-card {
    overflow: visible;
    height: 120px;
    box-shadow: none;
    border-radius: 8px;
    margin: 26px 0;
    ion-card-title {
      font-family: auto;
    }
    ion-col {
      ion-img {
        position: relative;
        bottom: 36px;
        width: 120px;
      }
      ion-img.leve1 {
        bottom: 54px !important;
        width: 97px;
        left: 17px;
      }
      ion-img.leve2 {
      bottom: 0px !important;
      width: 131px;
      left: -4px;
     } 

     ion-img.leve3{
      bottom: 9px;
      width: 124px;
      left: 1px;
      }
  }

    .mask {
      img {
        width: 240px;
        position: absolute;
        bottom: 0px;
        left: 140px;
        mask-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(0,0,0,0));
      }
    }

    ion-badge {
      margin-top: 8px;
      background: rgba(0,0,0,.08);
    }

    ion-card-title {
      font-weight: 900;
    }

    .no {
      color: rgba(0,0,0,.66);
      font-weight: bold;
    }
  }



  .stage {
    display: flex;
}
.box {
    align-self: flex-end;
   
    animation-iteration-count: 1;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
}
.bounce-7 {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}