
  ion-card {

    overflow: visible;
    height: 120px;
    box-shadow: none;
    border-radius: 8px;
    margin: 26px 0;
    ion-card-title {
      font-family: cursive;
    }
    ion-col {
      ion-img {
        position: relative;
        bottom: 36px;
        width: 120px;
      }
      ion-img.leve1 {
        bottom: 54px !important;
        width: 97px;
        left: 17px;
      }
      ion-img.leve2 {
      bottom: 0px !important;
      width: 131px;
      left: -4px;
     } 

     ion-img.leve3{
        bottom: 1px;
        width: 144px;
        left: -9px;
      }
  }

    .mask {
      img {
        width: 240px;
        position: absolute;
        bottom: 0px;
        left: 140px;
        mask-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(0,0,0,0));
      }
    }

    ion-badge {
      margin-top: 8px;
      background: rgba(0,0,0,.08);
    }

    ion-card-title {
      font-weight: 900;
    }

    .no {
      color: rgba(0,0,0,.66);
      font-weight: bold;
    }
  }
