



<ion-content fullscreen="true">

  <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#8295A3" d="M68.6,-33.5C81.6,-17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z" transform="translate(100 100)" />
  </svg>

  <div class="ion-padding">
    <form [formGroup]="form" class="ion-padding">
      <div class="wrap-input">
        <div class="wrap-input">
          <div  class="input" > {{ $time | async }}</div>
         </div>
        <select class="input" formControlName="action"  >
          <option value="THANG">THANG</option>
          <option value="THUA">THUA</option>
        </select>
      </div>
      <div class="wrap-input">
        <input formControlName="price" class="input" type="text" enterkeyhint="search" type="search" >
      </div>

      <!-- <div class="wrap-input">
        <input   type="datetime-local" class="input" >
      </div> -->
      <div class="wrap-input">
        <input formControlName="id" class="input" type="text" enterkeyhint="search" type="search" >
      </div>
      <div class="wrap-input">
        <input formControlName="time" class="input"  enterkeyhint="search" type="search" >
      </div>
      <div class="wrap-input">
        <input formControlName="type" class="input" type="text" enterkeyhint="search" type="search" >
      </div>

      <div class="container-form-btn">
        <button (click)="processForm($event)"   class="form-btn custom-font">
           Push command
        </button>
        &nbsp;
        <button (click)="pushResult($event)"   class="form-btn custom-font">
          Push result
        </button>
      </div>

    </form>
  </div>

</ion-content>

