<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar [ngClass]="{'border-default': paddingHeader == 0 }" [ngStyle]="{'padding-bottom.px': paddingHeader , 'background': category.color }" [color]="category.color" >
   
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="paddingHeader == 0" >{{category.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content 
 [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()" [fullscreen]="true"  >
  <div class="ion-padding">
    <ion-card class="ion-margin-bottom">
      <ion-img [src]="category.url"></ion-img>
      <ion-card-content>
        <ion-row>
          <ion-col size="12" class="ion-text-center ion-margin-bottom">
            <ion-card-title>{{category.title}}</ion-card-title>
            <ion-card-subtitle>{{category.name}}</ion-card-subtitle>
            <ion-card-subtitle>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star-outline" color="warning"></ion-icon>
              <span> (12.5K)</span>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" color="dark" routerLink="/details">
              <ion-icon slot="icon-only" name="speedometer-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" color="dark" routerLink="/details">
              <ion-icon slot="icon-only" name="snow"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" color="dark" routerLink="/details">
              <ion-icon slot="icon-only" name="person-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>



    <div   style="flex: 1; overflow-x: auto;padding-bottom:  80px;">
      <ion-item  (click)="presentModal(p)"  button *ngFor="let p of products"  >
          <ion-thumbnail slot="start">
            <img src="{{ p.img }}">
          </ion-thumbnail>
          <ion-label [color]="p.amount === 0 ? '' : 'primary'">
            <h2>{{ p.name }}</h2>
            <p><ion-icon  *ngIf="p.amount !== 0" color="danger" name="close-circle"></ion-icon>
              {{ p.price | currency:'VND' }} {{ p.amount === 0 ? '' : ( 'x ' +  p.amount + ' = ' + (p.price*p.amount | currency:'VND')  ) }}   </p>
          </ion-label>
               <ion-icon  name="add-circle-outline" slot="end"></ion-icon>
        </ion-item>
   </div>


  </div>
</ion-content>
<app-counter-cart></app-counter-cart>
