
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Đăng ký</ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen="true">

  <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#8295A3" d="M68.6,-33.5C81.6,-17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z" transform="translate(100 100)" />
  </svg>

  <div class="ion-padding">
    <form class="ion-padding">

      <div class="wrap-input">
        <input class="input" type="text" enterkeyhint="search" type="search" name="user-name" placeholder="Nhập tên của bạn">
      </div>

      <div class="wrap-input">
        <input class="input" type="text" inputmode="phone" name="user-email" placeholder="Nhập số điện thoại">
      </div>

      <div class="wrap-input">
        <input class="input" type="password" name="password" placeholder="Nhập mật khẩu">
      </div>

      <div class="container-form-btn">
        <button class="form-btn custom-font">
          Đăng ký
        </button>
      </div>

    </form>
  </div>

</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center custom-font">Tôi đã có tài khoản? <a routerLink="/forms ">Đăng nhập</a></p>
  </ion-toolbar>
</ion-footer>
