<ion-header mode="md" #header mode="ios">
  <ion-toolbar [ngClass]="{'transparent-toolbar':!headerFixed}">
    <ion-buttons slot="start">
      <ion-menu-button  [color]="!headerFixed? 'light' :'dark'"  ></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="!headerFixed" [color]="!headerFixed? 'light' :'dark'">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button [color]="!headerFixed? 'light' :'dark'">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
      <ion-button [color]="!headerFixed? 'light' :'dark'">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-searchbar *ngIf="headerFixed" class="search-bar-default" placeholder="Nhập tên món.."
      searchIcon="search-outline"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content  no-padding (ionScroll)="handleScroll($event)" scroll-event="true">
   
  <div [ngStyle]="{'border-radius.px' : headerFixed ? 0 : 30}"  class="ion-padding content-container">
          
    <app-card-smoothie  [index]="'2'" (navigation)="viewStoreDetails($event)" [category]="{id: 'C01' ,name:'Danh mục #Sinh tố' ,  title: 'Sinh tố Nông Lâm' , url : 'assets/smoothie/smoothie.png' , color: 'linear-gradient(90deg,#f7bf0c,#c2e59c)', customClass: 'leve1' }" ></app-card-smoothie>
 
        <div #triggerElement>TRIGGER ELEMENT</div>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
       

           
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>

           
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
       
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
        <p>
          If you get lost, the 
          <a href=""> docs </a>
           will be your guide
        </p>
    </div>
</ion-content>

<app-counter-cart></app-counter-cart>
