// ion-fab-button {
//    height: 70px;
//    width: 70px;
// }

// .cart-icon {
//  font-size: 50px;
// }

// .cart-length {
//     color: var(--ion-color-primary);
//     position: absolute;
//     top: 24px;
//     left: 25px;
//     font-weight: 600;
//     font-size: 1em;
//     min-width: 25px;
//     z-index: 10;
// }




// new code 
:host {
   background-color: #f3c96a; 
   --offset-top: 200px;
}
    ion-content {
        --background: transparent;
        transition: 0.5s;
        transform: translate3d(0, 200px, 0);
    }
    .no-transform {
        transform: translate3d(0, 0, 0) !important;
    }
    ion-toolbar {
    --background: transparent;
    --border-width: 0 !important;
    }
    .content-container  {
        height: 100%;
        border-radius: 30px;
        padding-top: 40px;
        background-color: #fff;
        overflow: scroll;
        padding-bottom: 200px;
    }