
<ion-grid>
    <ion-row>
        <ion-col size="12">
            <nz-tabset>
                <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
                    <ng-template #titleTemplate> <i nz-icon [nzType]="tab.icon"></i>{{ tab.name }} </ng-template>
                     <div   style="flex: 1; overflow-x: auto;">
                        <ion-item *ngFor="let p of products"  >
                            <ion-thumbnail slot="start">
                              <img src="{{ p.img }}">
                            </ion-thumbnail>
                            <ion-label>
                              <h2>{{ p.name }}</h2>
                              <p>{{ p.price | currency:'VND' }} {{ p.amount === 0 ? '' : ( 'x ' +  p.amount + ' = ' + (p.price*p.amount | currency:'VND')  ) }}   </p>
                            </ion-label>
                                 <ion-icon (click)="addToCart(p)" name="add-circle-outline" slot="end"></ion-icon>
                          </ion-item>
                     </div>
                </nz-tab>
            </nz-tabset>
        </ion-col>
    </ion-row>
</ion-grid>

