<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Lịch sử lợi nhuận theo ngày </ion-title>
    <ion-buttons fill="outline" slot="end">
      <ion-button (click)="close()">
        Đóng
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item  >
    <ion-thumbnail slot="start">
      <img src="https://static-s.aa-cdn.net/img/gp/20600013682729/F5M67aBZJC7jOmUZhGDCbjo-41uewJ-FihpR_SF6FJzWOlWEq5zuslHKDNlX_6j0GMQ=s300?v=1">
    </ion-thumbnail>
    <ion-label>
      <h2>Bạn phải đăng ký wefinex bằng email này </h2>
      <ion-row >
        <div class="increment-product">
          <ion-input  disabled  placeholder="Nhập Email wefinex" value="{{product.email}}"></ion-input>
        </div>
      </ion-row>
    </ion-label>

    <ion-icon (click)="mailInfo()" name="alert-outline" slot="end"></ion-icon>
  </ion-item>
</ion-list>
    <ion-list class="scrollbar" style="height: 100%;overflow: auto;">
      <ion-item *ngFor="let item of profits" >
        <ion-thumbnail slot="start">
          <img src="https://www.winta.com.vn/images/TaiChinh/Finance_Winta_Cash.png">
        </ion-thumbnail>
        <ion-label>
          <h2 style=" color: #4a8bff;">Thời gian:  {{item.id}} </h2>
          <ion-row >
              <div class="item-status">
                <span class="status-type">Tổng tiền: </span>
                <span class="status-number">$ {{item.totalAmount | number: '1.2-2'}}  &nbsp;</span>
                
              </div>
              <div class="item-status">
                <span class="status-type">Vốn Trade: </span>
                <span class="status-number">$ {{item.budget | number: '1.2-2' }} <span style="color: rgb(52, 196, 113);" >({{ (( Number(item.totalAmount) - Number(item.budget)) > -1 ?'+' : '')  + (( Number(item.totalAmount) - Number(item.budget)) | number: '1.2-2')}}) </span> </span>
               
              </div>
              <div class="item-status">
                <span class="status-type">Lợi nhuận: </span>
                <span class="status-number"> {{( ((Number(item.profit) / Number(item.budget)) * 100)| number: '1.2-2')}} %</span>
               
              </div>
  
  
  
  <!--          <ion-button color="medium" fill="clear" (click)="increaseCartItem(product)">-->
  <!--            <ion-icon name="add-circle" slot="icon-only"></ion-icon>-->
  <!--          </ion-button>-->
  
          </ion-row>
        </ion-label>
  
        <ion-icon (click)="infOnline()" name="alert-outline" slot="end"></ion-icon>
      </ion-item>
  </ion-list>