<div *ngIf="(cartItemCount | async) !== 0" style="position: absolute;  bottom: 0; width: 100%; z-index: 1" >
  <div class="ion-padding">
    <ion-button mode="md" (click)="navigate()" expand="block" type="submit" class="ion-no-margin">
       <div style=" width: 100%; height: 100%; display: flex; justify-content: center; align-items: center">
          <div style="flex: 1;  font-weight: bold" >Xem giỏ hàng </div>
           <div style="    padding-left: 10px;"> {{cartItemCount | async}} món </div>
           <div style="flex: 1; font-weight: bold" >{{getTotal() | currency: 'VND'}}</div>
       </div>
    </ion-button>
  </div>
</div>